name: Selenium CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven


      - name: Setup Chrome + ChromeDriver (perfectly matched)
        uses: browser-actions/setup-chrome@v1


      - name: Show Chrome & ChromeDriver versions
        run: |
          google-chrome --version
          chromedriver --version

      - name: Start Xvfb (virtual display for headless)
        run: |
          sudo apt-get install -y xvfb
          Xvfb :99 -screen 0 1920x1080x24 &
          export DISPLAY=:99

      - name: Run Selenium tests (headless + CI mode)
        run: mvn clean test -Dselenium.headless=true


      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/
